@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css?family=Pacifico|Sriracha&display=swap');



#gabby-icon{
  position:absolute;
  width:50px;
  height:50px;
  
  bottom:0;
  right:0;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-size:30px;
  text-decoration:none;
  margin:5px;
  font-family:cursive;
  box-shadow:2px 2px 2px grey;
}

#gabby-icon:hover{
  background:#0c84bb00;
  transition:background ease 1s;

}
body {
  margin: none;
  justify-content: center;
  text-align: center;
  justify-items: center;
  align-items: center;
  

  
}
nav{
  width:100%;
  background:#00637f00;
  position:fixed;
  top:0;
  height:50px;
  display: flex;
  justify-content:flex-end;
}

label{
  display:none;
}

.ph {
  display: none;
}


ul li{
  display: inline;
}

#nav-button{
  display:none;
}

nav a{
  text-decoration:none;
  color:  rgb(164, 233, 239);
  font-size: 28px;
  align-items: center;
  text-align: center;
  padding-right: 4rem;

  
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color:  rgb(164, 233, 239) ;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 4px 3px 1px rgb(103, 2, 2), 1em .7em 1em rgba(0, 0, 0, 0.508), 0 .0em .1em rgb(95, 81, 2);
    display: flex;
    margin: none;
    scroll-behavior: smooth;
    background: rgb(2,0,36);
    background: linear-gradient(321deg, rgb(1, 53, 52) 30%, rgba(85, 2, 2, 0.798) 100%);
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    width: auto;
    text-align: center;
    justify-content: center;
    
    
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

svg {
  margin: none;
  display: flexbox;
  width: 8vw;
  height: auto;
  
  

}

ul {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}


.intro_logo_pic {
  margin: 5px;
  
  height: auto;
  width: 600px;
  padding-top: 20px;
  
}

.intro_logo_pic_container {
  margin: 5px;
  height: 600px;
}

.profile_name_container {
  display: flexbox ;         ;
  margin: 1px;
  text-align: center;
  justify-content: center;
  align-items: center;

  

}

.profile-name {
  margin: 5px;
  padding-top: 80px;
  text-align: center;
  
}
.name {
  font-size: 200px;
}

.intro-paragraph {
  margin: 30px;
  width: auto ;
  height: 450px;
  padding-top: 120px;
}

.about_container {
  margin: 5px;
  margin-bottom: 100px;
  display: flex;
  
  

}

.about_paragraph {
  margin: 30px;
  margin-right: 15%;
  margin-left: 15%;
  font-size: 28px;
  



}
.fishing_img {
  margin: 30px;
  margin-left: 150px;
  width: 400px;
  border-radius: 30px;
}
.fishing_img:hover:active {
  width: 600px;
  height: auto;
}




.intro_hello {
  margin: 1px;
  font-size: 100px;
 }

 

.intro_hello_1 {
  margin:10px;
  font-size: 65px;
  padding-left: 10px;
  
}

.intro_hello_2 {
  margin: 10px;
  font-size: 50px;
}

.skill_container {
  
  margin: 10px;
  height: 200px;
  
}
.icons {

  display: flexbox;
  margin-top: 200px;
}

.icon_1 {
  border-radius: 30px;
  margin: 50px;
  
}

.project-title-container {
  margin: 10px;
}

.project-title {
  font-size: 60px;
}

.project-2-title {
  margin: 10px;
  font-size: 30px;
}

.project-2 {
  margin: none;
  display: flexbox;
}

.code_pen {
  margin: none;
  border-radius: 150px;
  width: 500px;
}

.project-description {
  margin: 10px;
  padding: 20px 100px 20px;
  
  font-size: 30px;
}

 .contact_title {
  font-size: 60px;
 }
 .contact_container {
  margin: 30px;
  margin-top: 300px;
  display: flex;
  height: 600px;
  flex-direction: column;
  
 }

 .email_text, .linkedin_text {
  font-size: 40px;
  color: rgb(164, 233, 239);

 }

 .mail_icon, .linkedin_icon {
  margin-right: 20px;
  margin-top: 20px;
  width: 50px;
  


 }
#nav-button:checked ~ ul{
  height:140px;
  transition: height 1s;
}


@media only screen and (max-width: 800px) {

  #nav-button:checked ~ ul{
    height:140px;
    transition: height .5s;
}
    nav{
      align-items:center;
    }
    
    nav ul{
      position:absolute;
      top:50px;
      width:100%;
      background:rgba(0, 0, 0, 0.612);
      max-height: 0;
      transition: max-height 0.15s ease-out;
      overflow:auto;
      transition:all .5s ease-in-out;
      border-radius: 8em;
      display: inline-flex;
      flex-direction: column;
      
    }
    
    nav li{
      display:block;
      width:100%;
      padding:5px;  
      
      

    }
    
    label{
      display:block;
      padding:0px 10px;
      font-size:30px;
      cursor:pointer;
    }
    
    label:hover{
      color:rgb(164, 233, 239);
    }

    
    
    nav a{
      width:100%;
      display:block;
    }
    
    #nav-button:checked ~ ul{
        max-height:540px;
        transition: all 1s ease-in-out;
    }
    
    nav li:hover{
      background ;
    }
  body {
    font-size: auto;
    width: 415px;
    text-align: center;
    
  }

  html {
    margin: none;
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .profile_name_container{
    display: flexbox;
    margin: none;
    height: auto;
    width: 415px;
  }
.profile-name, .name {
  width: 415px;
  font-size: 70px;
  
}

.intro_logo_pic_container {
  margin: 10px;
  width: 415px;

}

.intro_logo_pic {
  width: 415px;
}
.intro-paragraph {
  margin:10px; 
  width: 415px;
  height: 80vh;
  display: inline-flexbox;
  
  
}

.hello {
  font-size: 100px;
  display: inline;
}
.intro_hello_1 {
  font-size: 50px;
  
}
.intro_hello_2 {
  display: inline;
  font-size: 30px;
  
}

.about_container {
  margin: none;
  display: block;
  width: 415px;

}

.fishing_img {
  margin: 5px;
  width: 300px;
  height: auto;
}
.about_paragraph {
  
  font-size: 20px;
  width: 300px;
}

.skill_container {
  margin: 50px;
  display: inline-flex;
}

.icons {
  display: flex;
 margin: 15px;
 width: 415px;
}

.icon_1 {
  margin: 20px;
  
}

.project {
  margin: 5px;
  width: 415px;
  height: 500px;
}

.code_pen {
  margin: 10px;
  width: 300px;
}

.project-title {
  font-size: 50px;
}
.project-description {
  margin: 5px;
  width: 415px;
  height: 500px;
  font-size: 22px;
  padding: 0 0;
  
  
}

.contact_container {
  margin-top: 50vh;
  margin-bottom: 10vh;
  height: 150px;
  width: 415px;
}

.contact_title {
  font-size: 50px;
}

.email_text, .linkedin_text {
  font-size: 25px;
}

.mail_icon, .linkedin_icon {
  width: 25px;
}
}